
img {
  padding: 2px;
}

.social-icons{
  border-top: 3px solid grey;
  width: 40%;
}
.social-icons i{
  font-size: 26px;
  padding: 0px 5px;
  color: rgba(196, 18, 34, 0.79);
}
.team-members {
  border-radius: 50%;
  border: 4px solid silver;
}
.team-members img{
  padding: 0px;
}

.map{

  position: relative;
  z-index: 3;
}
.contact{

  position: absolute;
  width: 320px;c
  color: rgba(255, 255, 255, 1);
  background-color:rgba(0, 0, 0, 0.3);
  height: 440px;
  z-index: 4;
  padding: 10px;
}
.foot{
  background-color: black;
  color: rgba(255, 255, 255, 0.9);
  margin-top: 30px;
  font-family: 'Droid Serif', serif;
}
#header{
  text-align: center;
  margin: 20px auto;
  background: url("../image/img188.jpg");
  background-size: cover;
}
#header p{
  color: rgba(0,0,0,1);
  margin-top: 20px;
  font-size: 30px;
  margin: 4px auto 224px;
}
#header h2{
  padding-top: 70px;
  font-size: 849%;
  font-family: 'Monoton', cursive;

}
#header i{
  font-size: 30px;
}

.decorationline{
  font-size: 50px;
}
.d-line{
  width: 22%;
  height: 2px;
  border: 2px solid black;
  display: inline-block;
  margin-bottom: 16px;
}

#about{
  margin: 8%;

}
#about h3{
  margin-top: 4%;
  font-size: 45px;
  font-weight: bold;
  font-family: 'Julius Sans One', sans-serif;
}
#about p{
  margin-top: 1%;
  font-size: 20px;
  font-family: 'Droid Serif', serif;
  text-align: center;
}
#new h3{
  font-size: 45px;
  font-family: 'Julius Sans One', sans-serif;
}
#collection{
  margin: 8px;

}
#collection h3{
  margin-top: 4%;
  font-size: 45px;
  font-weight: bold;
  font-family: 'Julius Sans One', sans-serif;
}
#collection p{
  margin-bottom: 30px;
  font-size: 22px;
  text-align: center;
}
.row h4{
  font-family: 'Droid Serif', serif;

}
#tops{
  margin: 8px;
}
#tops h2{
  margin-top: 4%;
  font-size: 45px;
  font-weight: bold;
  font-family: 'Julius Sans One', sans-serif;
}
#tops h3{
  margin-top: 4%;
  font-size: 45px;
  font-weight: bold;
  font-family: 'Julius Sans One', sans-serif;
}
#tops p{
  margin-bottom: 30px;
  font-size: 22px;
  text-align: center;
}
#lookbook{
  margin: 8px;
}
#lookbook h2{
  margin-top: 4%;
  font-size: 45px;
  font-weight: 600;
  font-family: 'Julius Sans One', sans-serif;
}
#lookbook h3{
  margin-top: 4%;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Julius Sans One', sans-serif;
}
#lookbook p{
  margin-bottom: 30px;
  font-size: 22px;
  text-align: center;
}
#diaries{
  margin: 8px;
}
#diaries a{
  color:rgba(196, 18, 34, 0.79);
  font-family: 'Julius Sans One', sans-serif;
  font-size: 30px;
  font-weight: bold;
}
#diaries h3{
  margin-top: 4%;
  font-size: 45px;
  font-weight: bold;
  font-family: 'Julius Sans One', sans-serif;
}
#diaries p{

  margin: 2%;
  font-size: 20px;
  font-family: 'Droid Serif', serif;
  text-align: inherit;
}
#think{
  margin: 10px;
}
#think h3{
  margin-top: 4%;
  font-size: 45px;
  font-weight: bold;
  font-family: 'Julius Sans One', sans-serif;
}
#think p{
    padding-top: 40px;
    margin: 2%;
    font-size: 20px;
    font-family: 'Droid Serif', serif;
    text-align: inherit;
}
#team{
  padding-top: 40px;
  margin: 10px;

}
#team h3{
  margin-top: 4%;
  font-size: 23px;
  font-weight: bold;
  color: rgba(196, 18, 34, 0.79);
  font-family: 'Julius Sans One', sans-serif;
}
#team p{
  margin: 2%;
  font-size: 18px;
  font-family: 'Droid Serif', serif;
  text-align: center;
}
#team h2{
  font-family: 'Julius Sans One', sans-serif;
  font-weight: bold;
  font-size: 45px;
}
#customer {
  margin: 10px;
}
#customer h3{
  margin-top: 4%;
  font-size: 45px;
  font-weight: bold;
  font-family: 'Julius Sans One', sans-serif;
}
#customer p{
  margin: 2%;
  font-size: 20px;
  font-family: 'Droid Serif', serif;
  text-align: center;
}
#customer i{
  color: rgba(196, 18, 34, 0.79);
  padding: 2px 15px;
}
#customer a{
  font-weight: bold;
  color: rgba(196, 18, 34, 0.79);
}
#meet{
  padding-top: 30px;
}
a:hover {
    color: red;
}
a:visited {
    color: green;
}

/*styling or small devices*/

@media (max-width:736px)  {
  .decorationline{
    font-size: 36px;
    text-align: center;
  }
  .down{
    padding-top: -20px;
  }
  #header{
    width: 100%;
    background-position: left;
}
  #header h2{
    padding-top: 100px;
    margin-left: 6px;
    font-size: 35px;
    text-align: justify;
  }
  #header h3{
    font-size: 9px;

  }
  #header p{
    font-size: 20px;
    padding-top: 25px;
  }
#about{
  width: 100%;

}
#about h3{

  font-size: 30px;
  text-align: justify;
}
#about p{
  font-size: 16px;
  text-align: center;
  display: inline-block;

}
#new{
  width: 100%;
}
#new h3{
  font-size: 30px;
}
#collection h3{
  font-size: 30px;
  text-align: center;
}
#collection p{
  font-size: 20px;
}
#lookbook a{
  font-size: 20px;
}
#lookbook p{
  font-size: 18px;
}
#customer h3{
  font-size: 35px;
}
}
