
img {
  padding: 2px;
}
.social-icons{
  border-top: 3px solid grey;
  width: 40%;
}
.social-icons i{
  font-size: 22px;
}
.team-members {
  border-radius: 55%;
  border: 3px solid black;
}
.map{

  position: relative;
  z-index: 3;
}
.contact{

  position: absolute;
  width: 320px;c
  color: rgba(255, 255, 255, 1);
  background-color:rgba(0, 0, 0, 0.3);
  height: 440px;
  z-index: 4;
  padding: 10px;
}
.foot{
  background-color: black;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 30px;
}
#header{
  text-align: center;
  margin: 20px auto;
  background: url("../image/img188.jpg");
  background-size: cover;
}
#header p{
  color: rgba(0,0,0,1);
  margin-top: 20px;
  font-size: 30px;
  margin: 4px auto 224px;
}
#header h2{

  font-size: 849%;
  font-family: 'Monoton', cursive;

}
#header i{
  font-size: 30px;
}

.decorationline{
  font-size: 50px;
}
.d-line{
  width: 22%;
  height: 2px;
  border: 2px solid black;
  display: inline-block;
  margin-bottom: 16px;
}

#about{
  margin: 8%;

}
#about h3{
  margin-top: 4%;
  font-size: 45px;
  font-weight: bold;
  font-family: 'Julius Sans One', sans-serif;
}
#about p{
  margin-top: 1%;
  font-size: 20px;
  font-family: 'Droid Serif', serif;
  text-align: center;
}
#new h3{
  font-size: 45px;
  font-family: 'Julius Sans One', sans-serif;
}
#collection{
  margin: 8px;

}
#collection h3{
  margin-top: 4%;
  font-size: 45px;
  font-weight: bold;
  font-family: 'Julius Sans One', sans-serif;
}
#collection p{
  margin-bottom: 30px;
  font-size: 22px;
  text-align: center;
}
.row h4{
  font-family: 'Droid Serif', serif;

}
#tops{
  margin: 8px;
}
#tops h3{
  margin-top: 4%;
  font-size: 45px;
  font-weight: bold;
  font-family: 'Julius Sans One', sans-serif;
}
#tops p{
  margin-bottom: 30px;
  font-size: 22px;
  text-align: center;
}
#lookbook{
  margin: 8px;
}
#lookbook h3{
  margin-top: 4%;
  font-size: 45px;
  font-weight: bold;
  font-family: 'Julius Sans One', sans-serif;
}
#lookbook p{
  margin-bottom: 30px;
  font-size: 22px;
  text-align: center;
}
#diaries{
  margin: 8px;
}
#diaries h3{
  margin-top: 4%;
  font-size: 45px;
  font-weight: bold;
  font-family: 'Julius Sans One', sans-serif;
}
#diaries p{

  margin: 2%;
  font-size: 20px;
  font-family: 'Droid Serif', serif;
  text-align: inherit;
}
#think
{
  margin: 20px;
}
