img {
  padding: 2px;
}
.social-icons{
  border-top: 3px solid grey;
  width: 40%;
}
.social-icons i{
  font-size: 22px;
}
.team-members {
  border-radius: 55%;
  border: 3px solid black;
}
.map{

  position: relative;
  z-index: 3;
}
.contact{

  position: absolute;
  width: 320px;
  color: rgba(255, 255, 255, 0.6);
  background-color:rgba(0, 0, 0, 1);
  height: 440px;
  z-index: 4;
  padding: 10px;
}
.foot{
  margin-top: 30px;
}
